
.bg{
    color: azure;
    /* text-align: right; */
    background: #292828;
    padding: 15px;
    padding-left: 15;
    
}

.img{
    image-rendering: pixelated;
    /* padding-left: 250px; */
    width: 100%;
    height: 100%;
}

.Dashboard{
    padding: 20px;
    display: flex;
    justify-content: right;
    position: relative;
}

.Text{
    text-align: center;
    transform: translateX(100px);
    font-size: 60px;
}


.Member{
    padding-left: 280px;
}

.Detect{
    padding-left: 280px;
}

.Add-member{
    padding-left: 280px;
}

.Text-2{
    text-align: center;
    font-size: 20px;
}

.SignIn{
    padding-left: 200px;
}

.SignUp{
    padding-left: 200px;
}

.Member-detail{
    padding-top: 80px;
    padding-left: 200px;
}