/* .container {
  position: relative;
  text-align: center;
} */

.image {
  width: 100%;  /* ตั้งค่าขนาดรูปภาพตามต้องการ */
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  color: #029EC6;  /* ตั้งค่าสีตัวอักษรตามต้องการ */
  font-size: 5vh;  /* ตั้งค่าขนาดตัวอักษรตามต้องการ */
  font-weight: bold;  /* ตั้งค่าความหนาตัวอักษรตามต้องการ */
}


.Homepage{
  padding-left: 256px;
  /* padding-top: 50px; */
  
}

.img-section{
  padding-left: 77px;
  padding-top: 30px;
}

#Head-text{
  text-align: center;
}

#Inform-text{
  padding-left: 80px;
  padding-right: 50px;
}