.bg
{
    position: absolute;
    height: 100vh;
    width: 100%;
    opacity: 80%;
}

.info-homes
{
    height: 100vh;
}

.map
{
    /* padding: 200px; */
    padding-top: 15%;
    padding-left: 25%;
    font-weight: 900
}

