body
{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: rgb(235, 232, 232);
  background-size:cover;
  font-family: 'Noto Sans Thai', sans-serif;
}

.container {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.left-menu {
  
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    background-color: rgb(255, 255, 255);
    width: 7%;
    position: fixed;
    height: 100vh;
    z-index: 999; /* Ensure the left menu stays on top of other elements */
    transition: width 0.7s ease; /* Add transition for smooth adjustment */
}

.left-menu:hover .menu-title {
    opacity: 1; /* Show the menu titles when left-menu is hovered */
    /* left: 120%; Move the menu titles back to their original position */
}

.left-menu:hover {
    width: 15%;
}

.icon{
    width: 100px;
    margin: auto;
    margin: 50px auto;
}

.right-responsive {
    width: 100%;
    display: block;
    position: relative;
    margin-left: 4%; /* Initial margin */
    transition: margin-left 0.7s ease; /* Add transition for smooth movement */
}

.left-menu:hover + .right-responsive {
    margin-left: 15%; /* Adjusted margin when left menu expands */
}

.left-menu:hover + .top-menu {
    /* width: 85%; Adjusted width when left menu expands */
}

.top-menu {
    background-color: rgba(19, 19, 19, 0.849);
    backdrop-filter: blur(2px);
    height: 70px;
    align-items: center;
    /* display: flex; */
    justify-content: right;
    padding-right: 50px;
    top: 0;
    position: fixed;
    width: 100%; /* Adjust width to leave space for left menu */
    padding-inline: 0; /* Remove padding on the sides */
    z-index: 994; /* Ensure the top menu stays on top of other elements */
    /* transition: width 0.7s ease; Add transition for smooth adjustment */
}

.data
{
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
}

.info
{
    background-color: rgb(233, 233, 233);
    display: block;
    padding-top: 160px;
    height: 2000px;
}

.info-home
{
    height: 2000px;
}

.data-info
{
    display: block;
    /* padding-top: 170px; */
    padding-inline: 60px;
}

.date
{
    padding-right: 30px;
}

.menu
{
    align-items: center;
    display: block;
    padding-top: 2px;
    /* padding-left: 50px;
    padding-right: 50px; */
    /* padding-left: 2rem; */
    padding-inline: 2rem;
    /* opacity: 0; */
    font-size: large;
    width: 100%;
    
}



.menu:hover
{
    opacity: 1;
}

.menu-item
{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 45px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.menu-item:hover
{
    /* width: 950px; */
    background-color: rgb(180, 180, 180);
    border-color: rgba(0, 0, 0, 0.781);
    border-radius: 5px;
    /* transform: scale(1.08); */
    /* left: 30px; */
}

.menu-item:hover .menu-title {
    opacity: 1; /* Show the menu titles on hover */
    /* left: 30%; Move the menu titles back to their original position */
}

.menu-item img
{
    padding-right: 13px;
}

.menu-title {
     /* Position the menu titles absolutely */
     /* Move the menu titles outside the container */
    /* transform: translateY(-50%); Adjust vertical alignment */
    opacity: 0; /* Initially hide the menu titles */
    transition: opacity 1.5s ease-in,opacity 0.3s ease-out, transform 0.8s; /* Add transition for smooth animation */
    transform: scale(20px);
    /* transform: opacity(0)3s; */
    position: absolute;
    left: 120px;
    /* padding-bottom: 20px; */
}

.left-menu:hover .menu-icon
{
    /* transform: translateX(-20px); */
    transform: scale(50px);
    margin-left: 3%;
}

.left-menu:hover .menu
{

}

.left-menu:hover .menu-title {
    transform: translateX(20px); /* Move the menu title to the right when left-menu is hovered */
    opacity: 1;
}


.setting
{
    text-align: center;
    bottom: 20px;
    align-items: center;
    padding-top: 160px;
}

.menu-icon {
    width: 50px; /* Set the initial size of the menu icon */
    height: auto; /* Maintain aspect ratio */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    margin-left: 30%;
    position: relative;
    transition: margin-left 0.6s ease;
}

.left-menu:not(:hover) .menu-icon {
    width: 50px; /* Increase the size of the menu icon when left-menu is not being hovered over */
}


li
{
    list-style-type: none;
}

.video-section
{
    width: 100%;
    height: 100vh;
    background-color: black;
}

.video
{
    width: 100%;
    position: absolute;
    z-index: 800;
    height: 100vh;
}

video
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow
{
    width: 100%;
    background-color: rgba(39, 39, 39, 0.644);
    height: 100%;
    z-index: 999;
    position: absolute;
}

.title
{
    padding-bottom: 50px;
}



.img-section
{

    width: 100%;
    height: 30px;
    padding-top: 80px;
}

.img-1
{
    padding-right: 50px;
    width: 600px;
    display: inline-block;
    border-radius: 10px 10px 10px 10px;
}

.Intro-bar
{
    /* background-color: red; */
    width: 100%;
    height: 300px;
    /* display:flex; */
    padding: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}

.bar-security
{
    display:block;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 220px;
}

.bar-icon
{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-text
{
    font-weight: 600 ;
    font-size: large;
    align-items: center;
    justify-content: center;
}

.logo
{
    width: 100%;
    /* padding-left: ; */
    position: relative;
    /* margin-left: 23.5px; */
    display: block;
}

