*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    background-color: black;
    padding: 2rem;
    text-align: center;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 1rem;
    font-weight: bold;
    font-size: 30px;
}
